RPC_URL=
PRIVATE_KEY=
CONTRACT_ADDRESS=
FRAUD_REGISTRY_ADDRESS=
SBT_CONTRACT_ADDRESS=
MODEL_CACHE_DIR=./backend/models
FLASK_PORT=5000
MOCK_MODE=false
VITE_BACKEND_URL=http://localhost:5000
VITE_CONTRACT_ADDRESS=
VITE_SBT_ADDRESS=
VITE_FRAUD_REGISTRY_ADDRESS=
VITE_CHAIN_ID=11155111
